@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

body html {
    margin: 0%;
}

body {
    font-family: 'Poppins';
    background-color: rgb(243, 243, 243);
}

.header {
    text-align: center;
}
h1 {
    font-weight: 600;
}
h2 {
    font-weight: 200;
}
p {
    font-weight: 200;
}

.container {
    height: 640px;
}
.top {
    
    margin-left: 450px;
    background-color: white;
    width: 355px;
    height: 230px;
    margin-top: 75px;
    box-shadow: 2px 2px 5px hsl(229, 6%, 66%) ;
}
.red-stripe {
    background-color: red;
    height: 5px;
}
.top p {
    padding-left: 1.5em;
}
.top h3 {
    padding-left: 1.5em;
}
.right {
    margin-left: 820px;
    background-color: white;
    width: 355px;
    height: 230px;
    margin-top: -95px;
    box-shadow: 2px 2px 5px hsl(229, 6%, 66%) ;
}
.blue-stripe {
    background-color: hsl(212, 86%, 64%);
    height: 5px;
}
.right p {
    padding-left: 1.5em;
}
.right h3 {
    padding-left: 1.5em;
}
.bottom {
    margin-left: 450px;
    background-color: white;
    width: 355px;
    height: 230px;
    margin-top: -85px;
    box-shadow: 2px 2px 5px hsl(229, 6%, 66%) ;
}
.yellow-stripe {
    background-color: hsl(34, 97%, 64%);
    height: 5px;
}
.bottom p {
    padding-left: 1.5em;
}
.bottom h3 {
    padding-left: 1.5em;
}
.left {
    
    margin-left: 80px;
    background-color: white;
    width: 355px;
    height: 230px;
    margin-top: -380px;
    box-shadow: 2px 2px 5px hsl(229, 6%, 66%) ;
}
.cyan-stripe {
    background-color: cyan;
    height: 5px;
}
.left p {
    padding-left: 1.5em;
}
.left h3 {
    padding-left: 1.5em;
}

.red-icon {
    padding-left: 250px;
}
.blue-icon {
    padding-left: 250px;
}
.yellow-icon {
    padding-left: 250px;
}
.cyan-icon {
    padding-left: 250px;
}

@media only screen and (max-width: 375px) {
    
    .header {
        width: 285px;
    }
    .header h2 {
        font-size: 1em;
    }
    h3 {
        font-size: 0.8em;
    }
    p{
        font-size: 0.6em;
    }
    .top {
        margin-left: -3px;
        background-color: white;
        width: 285px;
        height: 180px;
        margin-top: 25px;
        box-shadow: 2px 2px 5px hsl(229, 6%, 66%) ;
}
    .top p {
    padding-left: 0.2em;
}
    .top h3 {
    padding-left: 0.2em;
}
.red-stripe {
    background-color: red;
    height: 5px;
}
.right {
    margin-left: -3px;
    background-color: white;
    width: 285px;
    height: 180px;
    margin-top: 5px;
    box-shadow: 2px 2px 5px hsl(229, 6%, 66%) ;
}
.blue-stripe {
    background-color: hsl(212, 86%, 64%);
    height: 5px;
}
.right p {
    padding-left: 1em;
}
.right h3 {
    padding-left: 1em;
}
.bottom {
    margin-left: -3px;
    background-color: white;
    width: 285px;
    height: 180px;
    margin-top: 5px;
    box-shadow: 2px 2px 5px hsl(229, 6%, 66%) ;
}
.yellow-stripe {
    background-color: hsl(34, 97%, 64%);
    height: 5px;
}
.bottom p {
    padding-left: 1em;
}
.bottom h3 {
    padding-left: 1em;
}
.left {
    
    margin-left: -3px;
    background-color: white;
    width: 285px;
    height: 180px;
    margin-top: 5px;
    box-shadow: 2px 2px 5px hsl(229, 6%, 66%) ;
}
.cyan-stripe {
    background-color: cyan;
    height: 5px;
}
.left p {
    padding-left: 1em;
}
.left h3 {
    padding-left: 1em;
}

.red-icon {
    padding-left: 185px;
}
.blue-icon {
    padding-left: 185px;
}
.yellow-icon {
    padding-left: 185px;
}
.cyan-icon {
    padding-left: 185px;
}
}